.text-logo{
    z-index: 0;
width: 400px;
height: 100vh;
position: absolute;
top: -12%;
right: 15%;
bottom: 0;
left: auto;
margin: auto;
opacity: 1; 
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
.page-title{
    color: #ffd700;
    font-size: 9em;
    text-shadow: 0 0 10px #fff, 0 0 42px rgb(0, 208, 255), 0 0 82px rgb(35, 37, 181),0 0 92px rgb(58, 65, 195);

}


}